.container{
    display: flex;
    flex-direction: column;
}

#div1{
    width: 100%;
    height: 280pt;
    background-color: rgb(199, 0, 57);
}
#div2{
    width:100%;
    height: 1120pt;
    background-color: rgb(255, 245, 224);
}
#div3{
    width: 100%;
    height: 110pt;
    background-color: rgb(20, 30, 70);
}

#title{
    font-size: 5.6rem;
    color: bisque;
    text-align: center;
    font-family: 'Lobster', sans-serif;
}

h1{
    color: rgb(29, 29, 117);
    text-align: center;
}

u{
    text-decoration: underline;
}

#intro{
    font-size: 30pt;
    color: bisque;
    text-align: center;
    font-weight: bold;
}

#cat{
    border-radius: 40%;
    display: block;
    margin-top: 10px; 
    margin-left: auto;
    margin-right: auto;
}

.text{
    font-size: 20px;
    color: rgb(255, 105, 105);
    width: 700pt;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.secL{
    width: 40%;
    height: 200pt;
    background-color: rgb(255, 105, 105);
    margin-left:8%;
    border-radius: 8%;
}

.secR{
    width: 40%;
    height: 200pt;
    background-color: rgb(255, 105, 105);
    margin-right: 8%;
    margin-left: auto;
    border-radius: 8%;
}

.info{
    padding-top: 60pt;
    padding-left: 30pt;
    font-size: 20px;
    color: rgb(255, 245, 224);
    width: 420pt;
    text-align: left;
}

img{
    margin-left: 65%;
    border-radius: 5%;
    border: 3px solid rgb(199, 0, 57);
}

#dog{
    width: 185px;
    height: auto;
    margin-left: 65%;
    margin-top: -16%;
}

#char{
    width: 240px;
    height: auto;
    margin-left: 65%;
    margin-top: -18%;
}

#money{
    width: 290px;
    height: auto;
    margin-left: 65%;
    margin-top: -17%;
}

.links{
    font-size: 25px;
    color: rgb(255, 245, 224);
    text-align: center;
    margin-left: 48%;
    text-decoration: none;
}
.links:hover{
    color:  rgb(199, 0, 57);
}

.button{
    background-color: rgb(20, 30, 70);
    color: rgb(255, 245, 224);
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
    margin-left: 48%;
    margin-top: 50pt;
    border-radius: 10%;
    cursor: pointer;
}
.button:hover{
    background-color: rgb(20, 30, 70);
    background-image: -webkit-linear-gradient(rgb(38, 53, 114),rgb(105, 64, 170));
}

table{
    width: 650pt;
    margin-right: auto;
    margin-left: auto;
}